/backup
/fast_train_yolov8.py
/kitti.yaml
/kitti_v3.yaml
/kitti_v5.yaml
/models
/runs
/split_dataset.py
/train
/train.cache
/train_all_yolo.py
/train_and_evaluate.py
/val
/val.cache
/venv
/yolo_dataset
/yolov3_metrics.py
/yolov5_metrics.py
/yolov8_metrics.py